<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Words</title>
  <link rel="stylesheet" href="views/css/styles.css">
</head>

<body>
  <h1>Mystery Words</h1>
  <h2 class="red">DEFEAT!</h2>
  <div class="game-area">
    {{#wordArr}}
      {{#seen}}
        <span>{{letter}}</span>
      {{/seen}}
      {{^seen}}
      <span class="red">{{letter}}</span>
      {{/seen}}
    {{/wordArr}}
  </div>
  <div class="game-info">
    <div class="remaining-guesses red">
      <h3>Guesses Remaining: {{remGuess.guessesRemaining}}</h3>
    </div>
    <div class="guessed-letters">
      <h3>letters guessed:
        {{#letGuess}}
        {{.}}
        {{/letGuess}}
      </h3>
    </div>
  </div>
  <div class="nav">
    <a href="/restart">Start again!</a>
    <a href="/champion">Check the Leader Board</a>
  </div>
</body>

</html>
