<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Words</title>
  <link rel="stylesheet" href="views/css/styles.css">
</head>

<body>
  <h1>Mystery Word Game</h1>
  <div class="instructions">
    <h3>Instructions:</h3>
    <p>Play a game of Mystery Word, a guessing game to determine just how well you know the dictionary.  You will be given a word based on your selection below, and will be prompted to input one character at a time to guess the word.  8 misses without discovering the word, and you lose!</p>
    <p>Difficulty is determined by word length. Easy is between 4-6 characters, Normal is between 6-8 characters, Hard is between 8-10 characters, and Most Difficult is above 10 characters</p>
  </div>
  <form class="diff" action="/start" method="post">
    <button type="submit" name="difficulty" value="easy">Easy</button>
    <button type="submit" name="difficulty" value="normal">Normal</button>
    <button type="submit" name="difficulty" value="hard">Hard</button>
    <button type="submit" name="difficulty" value="most">Most Difficult</button>
  </form>
  <div class="nav">
    <a href="/champion">Check the Leader Board</a>
  </div>

</body>

</html>
