<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Words</title>
</head>

<body>
  <p>Difficulty is determined by word length. Easy is between 4-6 characters, Normal is between 6-8 characters, Hard is between 8-10 characters, and insane is above 10 characters</p>
  <form class="" action="/start" method="post">
    <label for="easy">Easy</label>
    <input type="radio" id="easy" name="difficulty" value="easy">
    <label for="normal">Normal</label>
    <input type="radio" id="normal" name="difficulty" value="normal">
    <label for="hard">Hard</label>
    <input type="radio" id="hard" name="difficulty" value="hard">
    <label for="insane">Insane</label>
    <input type="radio" id="insane" name="difficulty" value="insane">
    <button type="submit" name="button">Select difficulty</button>
  </form>
</body>

</html>
